In [ ]:
lst = [20,10]
lst[0]

20

In [ ]:
hash("Name")

3828824727677061470

# What is a Dictionary in Python?
A dictionary is a collection of key-value pairs. It's unordered, mutable, and indexed by keys (not positions like lists).

```python
# Basic Example
employee = {
    "name": "Ahamed",
    "age": 22,
    "role": "AI ML Engineer"
}
print(employee["name"])  # Output: Ahamed
```

# ðŸ“Œ Key Features
- Keys are unique and immutable (e.g., strings, numbers, tuples).

- Values can be any data type (even another dictionary or list).

# âœ… Creating Dictionaries

variable = {key1:value1,key2:value2}

In [ ]:
employee = {
    "name":"XYZ",
    "age":23
}

print(employee)
print(type(employee))

{'name': 'XYZ', 'age': 23}
<class 'dict'>

In [ ]:
# Using curly braces
a = {"a": 1, "b": 2}

# Using dict() function
b = dict(name="John", age=30)

# Empty dictionary
empty = {}

# ðŸ” Accessing Items

In [ ]:
emp = {89: 101, "name": "Basith"}
#print(emp[90])
print(emp.get(89," "))

101

In [ ]:
emp = {"id": 101, "name": "Basith"}
print(emp["name"])       # Basith
print(emp.get("name"))   # Basith (safe method)

# .get() avoids KeyError
print(emp.get("salary", "Not found"))  # Not found

# âœï¸ Adding / Updating Items

In [ ]:
emp = {"id": 101}
emp["name"] = "John"        # Add
print(emp)
emp["id"] = 102             # Update
print(emp)

{'id': 101, 'name': 'John'}
{'id': 102, 'name': 'John'}

# âŒ Removing Items

In [ ]:
data = {"a": 1, "b": 2}
data.pop("a")        # Removes key 'a'
print(data)

{'b': 2}

In [ ]:
data = {"a": 1, "b": 2}
data.popitem()       # Removes last inserted item
print(data)

{'a': 1}

In [ ]:
data = {"a": 1, "b": 2}
del data["b"]        # Delete specific key
print(data)

{'a': 1}

In [ ]:
data = {"a": 1, "b": 2}
data.clear()
print(data)

{}

# ðŸ” Looping Through Dictionary

In [ ]:
student = {"name": "Najim", "mark": 89}

for key in student:
  print(key)

name
mark

In [ ]:
for info in student.items():
  print(info)

('name', 'Najim')
('mark', 89)

In [ ]:
student = {"name": "Najim", "mark": 89}

# Keys
for key in student:
    print(key)

# Values
for val in student.values():
    print(val)

# Key-Value pairs
for key, val in student.items():
    print(f"{key} â†’ {val}")

name
mark
Najim
89
name â†’ Najim
mark â†’ 89

# ðŸ§ª Check if Key Exists

In [ ]:
emp = {"id": 101}
if "name" in emp:
    print("ID exists")
else:
  print("Not Exists")

Not Exists

# ðŸ§¬ Nested Dictionaries

In [ ]:
emp = {
    "person": {
        "name":"XYZ"
    }
}

In [ ]:
company = {
    "emp1": {"name": "John", "age": 30},
    "emp2": {"name": "Anna", "age": 25}
}
print(company["emp1"]["age"])  # John

30

In [ ]:
# Iterating Nested Dictionaries

for key,value in company.items():
  print(key)
  for key1,value1 in value.items():
    print(key1,value1)

emp1
name John
age 30
emp2
name Anna
age 25

# Shallow Copy and Deep Copy

## ðŸ” Shallow Copy
- Creates a new object, but doesn't copy nested objects inside it.

- References to the same nested objects are shared between the original and the copy.

```python
import copy

original = [[1, 2], [3, 4]]
shallow = copy.copy(original)

shallow[0][0] = 99

print("Original:", original)  # [[99, 2], [3, 4]]
print("Shallow:", shallow)    # [[99, 2], [3, 4]]

```

âœ… The outer list is copied, but the inner lists are shared (not copied). So changes to nested objects affect both.

## ðŸ§  Deep Copy
- Creates a completely independent copy, including all nested objects.

- No references are shared between the original and the copy.

```python
import copy

original = [[1, 2], [3, 4]]
deep = copy.deepcopy(original)

deep[0][0] = 99

print("Original:", original)  # [[1, 2], [3, 4]]
print("Deep:", deep)          # [[99, 2], [3, 4]]

```

## Summary
| Feature                  | Shallow Copy (`copy.copy()`)          | Deep Copy (`copy.deepcopy()`) |
| ------------------------ | ------------------------------------- | ----------------------------- |
| New outer object         | âœ… Yes                                 | âœ… Yes                         |
| New inner/nested objects | âŒ No                                  | âœ… Yes                         |
| Shared references        | âœ… Yes                                 | âŒ No                          |
| Use case                 | When you want a partial copy (faster) | When full isolation is needed |

In [ ]:
# Shallow Copy

original = {
    "name": "Ahamed",
    "skills": "html"
}

shallow = original.copy()
shallow["skills"] = "Java"

print("Original:", original)
print("Shallow:", shallow)

Original: {'name': 'Ahamed', 'skills': 'html'}
Shallow: {'name': 'Ahamed', 'skills': 'Java'}

In [ ]:
# Deep Copy

import copy

original = {
    "name": "Ahamed",
    "skills": ["Python", "SQL"]
}

deep = copy.deepcopy(original)
deep["skills"][0] = "Java"

print("Original:", original)
print("Deep:", deep)

Original: {'name': 'Ahamed', 'skills': ['Python', 'SQL']}
Deep: {'name': 'Ahamed', 'skills': ['Java', 'SQL']}

In [ ]:
# Dictionary Comprehension

square = {i:i**2 for i in range(1,11) if i % 2 == 0}
print(square)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [ ]:
# Merge two dictionaries into one

dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

# Frozen Set as Dictionary

In [ ]:
# Using frozenset as a Dictionary Key

# Use frozenset of two cities as key
distance_map = {
    frozenset(["Doha", "Al Rayyan"]): 20,
    frozenset(["Doha", "Lusail"]): 15
}

# Lookup distance regardless of order
print(distance_map[frozenset(["Al Rayyan", "Doha"])])  # Output: 20

20

In [ ]:
## Practical Example 01
## Use a dictionary to count the frequency of elements in list

numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1 # frequency[1] = 1 ==> {1:1,2:2,}
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [ ]:
## Practical Example 02
## Student Grade System

grades = {"Alice": 85, "Bob": 90, "Charlie": 78}

for name, mark in grades.items():
    status = "Pass" if mark >= 80 else "Fail"
    print(f"{name}: {status}")

Alice: Pass
Bob: Pass
Charlie: Fail

In [ ]:
## Practical Example 03
##  JSON Parsing (API Response)

import json

response = '{"name": "Ahamed", "country": "Qatar"}'
print(type(response))

data = json.loads(response)
print(type(data))

print(data["name"])  # Ahamed

<class 'str'>
<class 'dict'>
Ahamed