# What is a Set?
A set is a built-in data structure in Python that:

 - Is unordered

- Does not allow duplicate elements

- Is mutable (you can add/remove items)


| Feature       | Description                                  |
| ------------- | -------------------------------------------- |
| Unordered     | Elements don’t maintain order                |
| Mutable       | Can add or remove elements                   |
| No Duplicates | Duplicate elements are automatically removed |
| Iterable      | Can be used in loops like lists              |


# Set Methods
| Method             | Description                                     |
| ------------------ | ----------------------------------------------- |
| `add(elem)`        | Adds an element                                 |
| `update(iterable)` | Adds multiple elements                          |
| `remove(elem)`     | Removes a specific element (error if not found) |
| `discard(elem)`    | Removes an element (no error if not found)      |
| `pop()`            | Removes and returns an arbitrary element        |
| `clear()`          | Removes all elements                            |
| `copy()`           | Returns a shallow copy                          |

# Set Operations

| Operation       | Symbol/Method                   | Example           |     |     |
| --------------- | ------------------------------- | ----------------- | --- | --- |
| Union           | \`                              | `or`union()\`     | \`a | b\` |
| Intersection    | `&` or `intersection()`         | `a & b`           |     |     |
| Difference      | `-` or `difference()`           | `a - b`           |     |     |
| Symmetric Diff. | `^` or `symmetric_difference()` | `a ^ b`           |     |     |
| Subset          | `issubset()`                    | `a.issubset(b)`   |     |     |
| Superset        | `issuperset()`                  | `a.issuperset(b)` |     |     |
| Disjoint        | `isdisjoint()`                  | `a.isdisjoint(b)` |     |     |

In [ ]:
##create a set
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
lst = [1,2,3,4,5]

my_empty_set=set(lst)

print(my_empty_set)

{1, 2, 3, 4, 5}

# Set Methods

In [ ]:
# Initial Set
fruits = {"apple", "banana", "cherry"}
print("Initial Set:", fruits)

# 1. add(elem)
fruits.add("orange")
print("\nAfter add('orange'):", fruits)

Initial Set: {'banana', 'cherry', 'apple'}

After add('orange'): {'banana', 'orange', 'cherry', 'apple'}

In [ ]:
# 2. update(iterable)
fruits.update(["mango", "grape"])
print("\nAfter update(['mango', 'grape']):", fruits)

After update(['mango', 'grape']): {'mango', 'grape', 'orange', 'banana', 'cherry', 'apple'}

In [ ]:
# 3. remove(elem)
fruits.remove("kiwi")  # Will raise error if 'banana' not found
print("\nAfter remove('banana'):", fruits)

KeyError: 'kiwi'

In [ ]:
# 4. discard(elem)
fruits.discard("kiwi")  # No error if 'pineapple' not found
print("\nAfter discard('kiwi'):", fruits)

After discard('kiwi'): {'mango', 'grape', 'orange', 'cherry', 'apple'}

In [ ]:
# 5. pop()
removed_item = fruits.pop()  # Removes random item
print(f"\nAfter pop(): removed '{removed_item}'")
print("Set now:", fruits)

After pop(): removed 'mango'
Set now: {'grape', 'orange', 'cherry', 'apple'}

In [ ]:
# 6. copy()
copy_set = fruits.copy()
print("\nCopied Set:", copy_set)

Copied Set: {'grape', 'orange', 'cherry', 'apple'}

In [ ]:
# 7. clear()
fruits.clear()
print("\nAfter clear():", fruits)

After clear(): set()

# Set Operations

In [ ]:
# Define two sets
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

print("Set A:", a)
print("Set B:", b)

# 1. Union
print("\n1. Union (a | b):", a | b)
print("   Using union():", a.union(b))

Set A: {1, 2, 3, 4}
Set B: {3, 4, 5, 6}

1. Union (a | b): {1, 2, 3, 4, 5, 6}
   Using union(): {1, 2, 3, 4, 5, 6}

In [ ]:

# 2. Intersection
print("\n2. Intersection (a & b):", a & b)
print("   Using intersection():", a.intersection(b))

2. Intersection (a & b): {3, 4}
   Using intersection(): {3, 4}

In [ ]:
# 3. Difference
print("\n3. Difference (a - b):", a - b)
print("   Using difference():", a.difference(b))

3. Difference (a - b): {1, 2}
   Using difference(): {1, 2}

In [ ]:
# 4. Symmetric Difference
print("\n4. Symmetric Difference (a ^ b):", a ^ b)
print("   Using symmetric_difference():", a.symmetric_difference(b))

4. Symmetric Difference (a ^ b): {1, 2, 5, 6}
   Using symmetric_difference(): {1, 2, 5, 6}

In [ ]:
# 5. Subset
# Set A: {1, 2, 3, 4}
# Set B: {3, 4, 5, 6}
print("\n5. Subset (a.issubset(b)):", a.issubset(b))  # False
subset_test = {1, 2}
print("   Subset test (subset_test.issubset(a)):", subset_test.issubset(a))  # True

5. Subset (a.issubset(b)): False
   Subset test (subset_test.issubset(a)): True

In [ ]:
# 6. Superset
print("\n6. Superset (a.issuperset(b)):", a.issuperset(b))  # False
print("   Superset test (a.issuperset(subset_test)):", a.issuperset(subset_test))  # True

6. Superset (a.issuperset(b)): False
   Superset test (a.issuperset(subset_test)): True

In [ ]:
# 7. Disjoint
print("\n7. Disjoint (a.isdisjoint(b)):", a.isdisjoint(b))  # False
disjoint_test = {7, 8}
print("   Disjoint test (a.isdisjoint(disjoint_test)):", a.isdisjoint(disjoint_test))  # Tru

7. Disjoint (a.isdisjoint(b)): False
   Disjoint test (a.isdisjoint(disjoint_test)): True

# Example - Real Time

In [ ]:
### Counting Unique words in text

text="In this tutorial we are discussing about sets"
words=text.split()
print(words)
## convert list of words to set to get unique words

unique_words=set(words)
print(unique_words)
print(len(unique_words))

['In', 'this', 'tutorial', 'we', 'are', 'discussing', 'about', 'sets']
{'discussing', 'are', 'tutorial', 'we', 'sets', 'In', 'this', 'about'}
8

# What is a frozenset?
A frozenset is an immutable version of a set in Python.

- Unlike a regular set, a frozenset cannot be modified after it's created.

- It does not allow adding, removing, or updating elements.

- It supports all read-only set operations like union, intersection, etc.


# When to use frozenset?
When you need a hashable set (e.g., as a dictionary key or element in another set)

- When you want to ensure the set doesn't change

- For performance and safety in fixed-set scenarios

In [ ]:
# Creating frozen set

fs = frozenset([1, 2, 3, 2, 1])
print(fs)  # Output: frozenset({1, 2, 3})

frozenset({1, 2, 3})

In [ ]:
# Invalid Operations

fs.add(4)        # ❌ AttributeError
fs.remove(2)     # ❌ AttributeError
fs.clear()       # ❌ AttributeError
fs.update([5])   # ❌ AttributeError

In [ ]:
# Valid Operations

a = frozenset([1, 2, 3])
b = frozenset([3, 4, 5])

# Union
print(a | b)  # frozenset({1, 2, 3, 4, 5})

# Intersection
print(a & b)  # frozenset({3})

# Difference
print(a - b)  # frozenset({1, 2})

# Symmetric Difference
print(a ^ b)  # frozenset({1, 2, 4, 5})

# Subset/Superset/Disjoint
print(a.issubset(b))       # False
print(a.issuperset(b))     # False
print(a.isdisjoint(b))     # False

In [ ]:
# Example: As Dictionary Key

my_dict = {frozenset([1, 2]): "A pair"}
print(my_dict[frozenset([1, 2])])  # Output: A pair

A pair