# Lambda Functions in Python
Lambda functions are small anonymous functions defined using the lambda keyword. They can have any number of arguments but only one expression. They are commonly used for short operations or as arguments to higher-order functions.

**Syntax:**
```python
lambda arguments: expression
```

In [ ]:
def even_odd(num):

  if num % 2 == 0:
    print("even")
  else:
    print("odd")

even_odd(10)

even

In [ ]:
ev_od = lambda num: "even" if num % 2 == 0 else "odd"
ev_od(5)

'odd'

In [ ]:
add10 = lambda x: x + 10
print(add10(5))  # 15

multiply = lambda x, y: x * y
print(multiply(2, 3))  # 6

15
6

# Lambda with If-Else Conditions

In [ ]:
# Even or Odd
is_even = lambda x: "Even" if x % 2 == 0 else "Odd"
print(is_even(3))  # Odd

# Max of two numbers
max_func = lambda a, b: a if a > b else b
print(max_func(10, 5))  # 10

Odd
10

# map() Function
Applies a function to each item in an iterable.

Syntax:

```python

map(function, iterable)
```

In [ ]:
number = [5,4,6,2,10]

eve_od = lambda num: "even" if num % 2 == 0 else "odd"

list(map(eve_od,number))

['odd', 'even', 'even', 'even', 'even']

In [ ]:
nums = [1, 2, 3, 4]
squares = list(map(lambda x: x**2, nums))
print(squares)  # [1, 4, 9, 16]

[1, 4, 9, 16]

In [ ]:
## Lambda function with map

numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
## Map multiple iterables

numbers1=[1,2,3]
numbers2=[4,5,6]

added_numbers=list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_numbers)

[5, 7, 9]

In [ ]:
## map() to convert a list of strings to integers
# Use map to convert strings to integers

str_numbers = ['1', '2', '3', '4', '5']
int_numbers = list(map(int, str_numbers))

print(int_numbers)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [ ]:
words=['apple','banana','cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [ ]:
def get_name(person):
    return person['name']

people=[
    {'name':'John','age':32},
    {'name':'Doe','age':33}
]
list(map(get_name,people))

['John', 'Doe']

# filter() Function

Filters elements based on a condition.

Syntax:
```python
filter(function, iterable)
```

In [ ]:
nums = [1, 2, 3, 4, 5]
evens = list(filter(lambda x: x % 2 == 0, nums))
print(evens)  # [2, 4]

[2, 4]

In [ ]:
nums = [1, 2, 3, 4, 5]

# Get only even numbers
result = list(filter(lambda x: x % 2 == 0, nums))
print(result)  # [2, 4]

[2, 4]

In [ ]:
# Youâ€™re trying to simulate filtering using map
result = list(map(lambda x: x if x % 2 == 0 else None, nums))
print(result)  # [None, 2, None, 4, None]

[None, 2, None, 4, None]

In [ ]:

## Filter() to check if the age is greater than 25 in dictionaries
people=[
    {'name':'John','age':32},
    {'name':'Doe','age':33},
    {'name':'Joe','age':25}
]

def age_greater_than_25(person):
    return person['age']>25

list(filter(age_greater_than_25,people))

[{'name': 'John', 'age': 32}, {'name': 'Doe', 'age': 33}]

# reduce() Function
Reduces an iterable to a single value.

### Import First:

```python

from functools import reduce
```
Syntax:

```python

reduce(function, iterable[, initializer])
```

In [ ]:
# Sum

from functools import reduce

nums = [1, 2, 3, 4]
total = reduce(lambda x, y: x + y, nums)
print(total)  # 10

10

In [ ]:
# Product

nums = [1, 2, 3, 4]
product = reduce(lambda x, y: x * y, nums)
print(product)  # 24

24

In [ ]:
from functools import reduce

# reduce with initializer
nums = [1, 2, 3]
total = reduce(lambda x, y: x + y, nums, 10)
print(total)  # 16

16