# ðŸ§  Data Structures in Python

## ðŸ”¹ Built-in Data Structures

### âœ… List
- Ordered
- Mutable (can change)
- Allows duplicate elements
- Syntax: `my_list = [1, 2, 3]`

### âœ… Tuple
- Ordered
- Immutable (cannot change)
- Allows duplicate elements
- Syntax: `my_tuple = (1, 2, 3)`

### âœ… Set
- Unordered
- Mutable
- No duplicate elements
- Syntax: `my_set = {1, 2, 3}`

### âœ… Dictionary
- Unordered (prior to Python 3.7)
- Mutable
- Stores key-value pairs
- Keys must be unique
- Syntax: `my_dict = {"name": "Ali", "age": 25}`

---

## ðŸ”¸ User-Defined Data Structures

### âœ… Stack
- Follows **LIFO** (Last In First Out)
- Operations: `push()`, `pop()`
- Can be implemented using list or `collections.deque`

### âœ… Queue
- Follows **FIFO** (First In First Out)
- Operations: `enqueue()`, `dequeue()`
- Can be implemented using `collections.deque`

### âœ… Linked List
- Elements (nodes) linked using pointers
- Each node contains data and a reference to the next node
- Types: Singly, Doubly, Circular

### âœ… Tree
- Hierarchical structure (e.g., Binary Tree)
- Each node has a value, left child, and right child
- Used in searching, sorting, etc.

### âœ… Graph
- Collection of nodes (vertices) and edges
- Can be directed or undirected
- Represented using adjacency list or matrix

---

## ðŸ“Œ Summary Table

| Structure   | Ordered | Mutable | Duplicates | Use Case                            |
|-------------|---------|---------|------------|-------------------------------------|
| List        | Yes     | Yes     | Yes        | General-purpose, fast access        |
| Tuple       | Yes     | No      | Yes        | Read-only, performance              |
| Set         | No      | Yes     | No         | Unique items, membership test       |
| Dictionary  | No      | Yes     | Keys: No   | Lookup table, key-value mapping     |
| Stack       | Yes     | Yes     | Yes        | LIFO (undo, backtrack)              |
| Queue       | Yes     | Yes     | Yes        | FIFO (scheduling, task queue)       |

In [ ]:
import array

# Integer array
numbers = array.array('i', [1, 2, 3, 4])
print(numbers[1])  # Output: 2

2

## ðŸ“Œ What is a List?
- A **list** is a built-in data structure in Python used to store **multiple items** in a **single variable**.
- Lists are:
  - **Ordered**
  - **Mutable** (can be changed)
  - **Allow duplicates**
- Lists can contain **different data types** (integers, strings, booleans, etc.)

In [ ]:
# Creating the list

numbers = [24,14,10,5,2]
numbers[0]

24

In [ ]:
# Accessing List Elements

In [ ]:
numbers = [24,14,10,5,2,"hello",4.2,4.66666666666666]

for number in numbers:
  print(number)

24
14
10
5
2
hello
4.2
4.66666666666666

In [ ]:
# Modifying the list

numbers = [24,14,10,5,2,"hello",4.2,4.66666666666666]

numbers[0] = 34
numbers.append(44)

print(numbers)
print(len(numbers))

[34, 14, 10, 5, 2, 'hello', 4.2, 4.66666666666666, 44]
9

## List Methods
- `append()`: Adds an element at the end of the list.
- `clear()`: Removes all the elements from the list.
- `copy()`: Returns a copy of the list.
- `count()`: Returns the number of elements with the specified value.
- `extend()`: Add the elements of a list (or any iterable), to the end of the current list.
- `index()`: Returns the index of the first element with the specified value.
- `insert()`: Adds an element at the specified position.
- `pop()`: Removes the element at the specified position.
- `remove()`: Removes the first item with the specified value.
- `reverse()`: Reverses the order of the list.
- `sort()`: Sorts the list.

In [ ]:
list1 = [23,93,44,43,56,77,80]

In [ ]:
for number in [120,130,140]:
  list1.append(number)
list1

[23, 93, 44, 43, 56, 77, 80, 100, 120, 130, 140]

In [ ]:
list1 = ['hello',"welcome",20,30,44]

list1.insert(len(list1)//2,55)
list1

['hello', 'welcome', 55, 20, 30, 44]

In [ ]:
list1.remove(55)
list1

['hello', 'welcome', 20, 30, 44]

In [ ]:
list1.pop(0)
list1

['welcome', 20, 30]

In [ ]:
lst1 = ['cat','dog','deer','lion']
lst2 = ['tiger','bear','wolf']

lst3 = lst1.copy()
lst3.extend(lst2)
lst3

['cat', 'dog', 'deer', 'lion', 'tiger', 'bear', 'wolf']

In [ ]:
lst2

['tiger', 'bear', 'wolf']

In [ ]:
lst1 = ['cat','dog','deer','lion']
lst1.index('deer')

2

In [ ]:
# Reverse
numbers1 = [3, 1, 5, 7, 9]

numbers1.reverse()
print(numbers1)

[9, 7, 5, 1, 3]

In [ ]:
# Sort

fruits = ['apple','watermelon','grape','banana']
fruits.sort()
print(fruits)

numbers = [2,6,3,4,9]
numbers.sort()
print(numbers)

['apple', 'banana', 'grape', 'watermelon']
[2, 3, 4, 6, 9]

In [ ]:
fruits.clear() ## Remove all items

print(fruits)

[]

In [ ]:
numbers = [1, 2, 3, 2, 4, 2, 5]

print(numbers.count(2))  # Output: 3

3

In [ ]:
# Slicing List

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[0])
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

1
[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
print(numbers[::3])

[1, 4, 7, 10]

In [ ]:
# Iterating Over List

num = [2,3,4,5,6]

for number in num:
  print(number)

2
3
4
5
6

In [ ]:
num = [2,3,4,5,6]

for i in range(len(num)):
  print(num[i])

2
3
4
5
6

In [ ]:
num = [2,3,4,5,6]

for index,number in enumerate(num):
  print(index,number)

0 2
1 3
2 4
3 5
4 6

In [ ]:
num1 = [2,3,4,5,6]
num2 = [5,6,7,8,9]


for number1,number2 in zip(num1,num2):
  print(number1,number2)

2 5
3 6
4 7
5 8
6 9

In [ ]:
# Nested List
lst = [
    [1,2,3],
    [2,3,4]
]

print(lst[1][2])

4

In [ ]:
for num in lst:
  for number in num:
    print(number)
  print('----')

1
2
3
----
2
3
4
----

In [ ]:
# Nested list: Each inner list contains [name, mark1, mark2]
students = [
    ["Alice", 85, 90],
    ["Bob", 78, 82],
    ["Charlie", 92, 88]
]

# Print each student's average
for student in students:
    name = student[0]
    marks = student[1:]
    average = sum(marks) / len(marks)
    print(f"{name}'s average mark is {average}")

Alice's average mark is 87.5
Bob's average mark is 80.0
Charlie's average mark is 90.0

In [ ]:
# List Comprehension
result = [print(num,"Even") for num in range(21) if num % 2 == 0]
# Even number

for num in range(21):
  if num % 2 == 0:
    print(num,"Even")

0 Even
2 Even
4 Even
6 Even
8 Even
10 Even
12 Even
14 Even
16 Even
18 Even
20 Even

In [ ]:
result = [f"{num} Even" for num in range(21) if num % 2 == 0]
print(result)

['0 Even', '2 Even', '4 Even', '6 Even', '8 Even', '10 Even', '12 Even', '14 Even', '16 Even', '18 Even', '20 Even']

In [ ]:
lst = [2,3]
print(lst)

[2, 3]

In [ ]:
lst = list()
print(lst)

[]

In [ ]:
# Simple List Example - Removing Duplicates

numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = list(set(numbers))
print(unique_numbers)

[1, 2, 3, 4, 5]

In [ ]:
# Simple List Comprehension Example - Flattening a list

nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat_list = [item for sublist in nested_list for item in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# List Comprehension - Word Count

words = ["hello", "world", "python", "AI", "AGI"]
lengths = [len(word) for word in words]
print(lengths)

[5, 5, 6, 2, 3]

# Common Error in List

In [ ]:
# 1. Modifying a list while iterating over it

numbers = [1, 2, 3, 4, 5]
for number in numbers:
    if number % 2 == 0:
        numbers.remove(number) # This can lead to unexpected behavior
print(numbers)

[1, 3, 5]

In [ ]:
# 2.IndexError: Trying to access an index that is out of range.
numbers = [1, 2, 3]
# print(numbers[3]) # This will raise an IndexError

In [ ]:
# Real-time Example - Inventory Management

# Managing an inventory
inventory = ["apples", "bananas", "oranges", "grapes"]

# Adding a new item to the inventory
inventory.append("strawberries")

# Removing an item that is out of stock
inventory.remove("bananas")

# Checking if a specific item is in stock
item = "oranges"
if item in inventory:
    print(f"{item.capitalize()} are in stock.")
else:
    print(f"{item.capitalize()} are out of stock.")

# Displaying the current inventory list
print("\nInventory List:")
for item in inventory:
    print(f"- {item.capitalize()}")

Oranges are in stock.

Inventory List:
- Apples
- Oranges
- Grapes
- Strawberries