## Variable

A variable is a name that stores data in memory. You can use it to store and reuse values.

## What is an Identifier?
An identifier is the name used for variables, functions, classes, etc.


## Examples of identifiers:

x

my_age

totalSalary

These are all identifiers used to name variables.


## Rules for Writing Identifiers:
Can use letters (a‚Äìz, A‚ÄìZ), digits (0‚Äì9), and underscore (_)

Must not begin with a digit

‚úÖ name1

‚ùå 1name (invalid)

Cannot use special characters like @, $, %, !

Python keywords cannot be used as identifiers
‚ùå class = 10 ‚Üê class is a Python keyword

In [ ]:
a = 10

In [ ]:
print(a)

10

In [ ]:
b = 20
print(b)
print(type(b))

20
<class 'int'>

In [ ]:
c = 2.3
print(c)
print(type(c))

2.3
<class 'float'>

In [ ]:
d = "hello"
print(d)
print(type(d))

hello
<class 'str'>

In [ ]:
e = True
print(e)
print(type(e))

True
<class 'bool'>

In [ ]:
number = 10

print(number)

print(number)

print(number)

10
10
10

In [ ]:
name = "Ahamed"

print(name)
print("Iam",name)
print(f"Iam {name}")
print("Iam {}".format(name))

Ahamed
Iam Ahamed
Iam Ahamed
Iam Ahamed

In [ ]:
type = 10
print(type)

Ahamed

In [ ]:
type(name)

TypeError: 'int' object is not callable

In [ ]:
int a = 10

# üìò Python Data Types

In Python, **data types** define what kind of data a variable can hold ‚Äî like numbers, text, etc.

---

## üîπ 1. Numeric Types

Used to store numbers.

| Type     | Description        | Example       |
|----------|--------------------|---------------|
| `int`    | Integer numbers    | `x = 10`      |
| `float`  | Decimal numbers    | `x = 3.14`    |
| `complex`| Complex numbers    | `x = 2 + 3j`  |

---

## üîπ 2. Text Type

| Type   | Description     | Example            |
|--------|------------------|--------------------|
| `str`  | String (text)    | `name = "Basith"`  |

---

## üîπ 3. Boolean Type

| Type     | Description            | Example        |
|----------|------------------------|----------------|
| `bool`   | True or False values   | `is_on = True` |

---

## üîπ 4. Sequence Types

| Type    | Description                        | Example                        |
|---------|------------------------------------|--------------------------------|
| `list`  | Ordered, changeable, duplicates ok | `fruits = ["apple", "banana"]` |
| `tuple` | Ordered, unchangeable              | `marks = (85, 90, 95)`         |
| `range` | Sequence of numbers                | `r = range(5)` (0 to 4)        |

---

## üîπ 5. Set Types

| Type        | Description              | Example               |
|-------------|--------------------------|-----------------------|
| `set`       | Unordered, no duplicates | `s = {1, 2, 3}`       |
| `frozenset` | Immutable set            | `fs = frozenset([1,2,3])` |

---

## üîπ 6. Mapping Type

| Type   | Description      | Example                                 |
|--------|------------------|-----------------------------------------|
| `dict` | Key-value pairs  | `person = {"name": "Basith", "age": 25}` |

---

## üîπ 7. None Type

| Type    | Description             | Example     |
|---------|-------------------------|-------------|
| `None`  | Represents no value     | `x = None`  |

---