In [ ]:
for number in range(1,10,2):
  print(number)

1
3
5
7
9

# üîÅ Control Flow Loops in Python

Python provides two main types of loops to control the flow of code: `for` and `while`.

---

## üåÄ `for` Loop

Used to iterate over a sequence (like a list, string, tuple, or `range`).

### üîπ Syntax
```python
for variable in sequence:
    # code block
```

### üîπ Example with a list
```python
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
```

### üîπ Example with `range()`
`range()` generates a sequence of numbers and is often used for looping a specific number of times.

```python
for i in range(5):
    print(i)
```

**Output:**
```
0
1
2
3
4
```

### üîπ Example with start, stop, step
```python
for i in range(1, 10, 2):
    print(i)
```

**Output:**
```
1
3
5
7
9
```

---

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
fruit = "Apple"

for ch in fruit:
  print(ch)

A
p
p
l
e

In [ ]:
fruit = "Apple"

for ch in range(len(fruit)): # range(5) -- 0,1,2,3,4
  print(fruit[ch])

A
p
p
l
e

In [ ]:
# fruit = Apple A - , 0 p - 1 , p -2, L -3 , E - 4

fruit = "Apple"
print(fruit[4])

e


## üîÅ `while` Loop

Used to execute a block of code repeatedly as long as a condition is true.

### üîπ Syntax
```python
while condition:
    # code block
```

### üîπ Example
```python
i = 1
while i <= 5:
    print(i)
    i += 1
```

---

In [ ]:
i = 1
while i <= 5: # 3 <= 5
    print(i)
    i += 1 # i = i+1

1
2
3
4
5

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
fruit = "Apple"

i = 0
while i < len(fruit): # 0 < 5
  print(fruit[i])
  i+=1

A
p
p
l
e


## ‚õî `break` Statement

Stops the loop even if the condition is still true (used inside both `for` and `while` loops).

### üîπ Example
```python
for i in range(5):
    if i == 3:
        break
    print(i)
```

---

## üîÇ `continue` Statement

Skips the current iteration and continues with the next one.

### üîπ Example
```python
for i in range(5):
    if i == 3:
        continue
    print(i)
```

---

## üï≥Ô∏è `pass` Statement

Does nothing. It's a placeholder for future code.

### üîπ Example
```python
for i in range(5):
    pass  # To be implemented later
```

---

## ‚úÖ `else` with Loops

Runs a block of code after the loop finishes **without encountering a `break`**.

### üîπ Example
```python
for i in range(3):
    print(i)
else:
    print("Loop finished without break")
```

---

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [ ]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [ ]:
for i in range(5):
    pass

## üß† Summary Table

| Statement  | Description                                       |
|------------|---------------------------------------------------|
| `for`      | Loop over a sequence (list, string, tuple, etc.)  |
| `range()`  | Generate numbers for loop iterations              |
| `while`    | Loop while a condition is true                    |
| `break`    | Exit the loop immediately                         |
| `continue` | Skip the current iteration                        |
| `pass`     | Do nothing; placeholder                           |
| `else`     | Runs if loop completes normally (no `break`)      |

In [ ]:
# Prime numbers (1,20)

for n in range(1,21):

  if n > 1:
    for i in range(2,n): # 4/2=0   5/2=1
      if n % i == 0:
        break
    else:
      print(n)

2
3
5
7
11
13
17
19

In [ ]:
# Sqaure pattern
for j in range(5):
  for i in range(5):
    print("*",end=" ")
  print(" ")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
# Left Triangle pattern
for j in range(1,6):
  for i in range(j):
    print("*",end=" ")
  print(" ")

*
* *
* * *
* * * *
* * * * *

In [ ]:
# For loop

multiplier = 3

for i in range(1,21):
  print(f"{i}x{multiplier}={i*multiplier}")

1x3=3
2x3=6
3x3=9
4x3=12
5x3=15
6x3=18
7x3=21
8x3=24
9x3=27
10x3=30
11x3=33
12x3=36
13x3=39
14x3=42
15x3=45
16x3=48
17x3=51
18x3=54
19x3=57
20x3=60

In [ ]:
# Sum of n natural numbers

n = 10
sum = 0

i = 1
while i<=10:
  sum += i
  i += 1

print(sum)

55