# üß† Python Tuples, Tuple Methods & Tuple Comprehension

---

## ‚úÖ What is a Tuple?

- A **tuple** is an **ordered** and **immutable** collection of items.
- Tuples are defined using **parentheses `()`**, but parentheses can sometimes be optional.
- Can store different data types: integers, strings, floats, etc.

```python
my_tuple = (1, 2, 3)
mixed_tuple = (1, "apple", 3.14)
empty_tuple = ()
single_item_tuple = (5,)  # Note the comma

In [ ]:
lst = (9,)
print(type(lst))

<class 'tuple'>

| Feature           | Description           |
| ----------------- | --------------------- |
| Mutable           | ‚ùå No (Immutable)      |
| Ordered           | ‚úÖ Yes                 |
| Allows Duplicates | ‚úÖ Yes                 |
| Indexable         | ‚úÖ Yes                 |
| Iterable          | ‚úÖ Yes                 |
| Faster than lists | ‚úÖ Yes (in most cases) |


| Method      | Description                                      | Example            |
| ----------- | ------------------------------------------------ | ------------------ |
| `.count(x)` | Returns number of times `x` appears              | `t.count(2)`       |
| `.index(x)` | Returns the index of **first** occurrence of `x` | `t.index("apple")` |

In [ ]:
t = (1, 2, 3, 2, 2)
print(t.count(2))     # Output: 3
print(t.index(3))     # Output: 2

3
2

In [ ]:
# Indexing

t = (10, 20, 30)
print(t[0])   # Output: 10

10

In [ ]:
# Slicing

print(t[0:2])   # Output: (10, 20)

(10, 20)

In [ ]:
# Concatenation

t1 = (1, 2)
t2 = (3, 4)
print(t1 + t2)  # Output: (1, 2, 3, 4)

[1, 2, 3, 4]

In [ ]:
# Repetation

print(t1 * 3)   # Output: (1, 2, 1, 2, 1, 2)

(1, 2, 1, 2, 1, 2)

In [ ]:
# Length
print(len(t1))  # Output: 2

2

# Tuple Packing & Unpacking

In [ ]:
# Packing
packed = 1, 2, "apple",4,6,7,8,9
print(packed)

(1, 2, 'apple', 4, 6, 7, 8, 9)

In [ ]:
# Unpacking
a, *b, c = packed
print(a)  # Output: 1
print(b)  # Output: 2
print(c)  # Output: apple

1
[2, 'apple', 4, 6, 7, 8]
9

‚úÖ Tuple Comprehension (Generator Expression)

- ‚ùó Python does not support direct tuple comprehension (like list comprehension).

- ‚úîÔ∏è Use a generator expression with tuple() constructor.

In [ ]:
squares = tuple(x**2 for x in range(5))
print(squares)  # Output: (0, 1, 4, 9, 16)

(0, 1, 4, 9, 16)

In [ ]:
# Nested Tuple

nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [ ]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

In [ ]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), [2,3,5])
nested_tuple[2][1] = 30

print(nested_tuple)
print(nested_tuple[2][1])

((1, 2, 3), ('a', 'b', 'c'), [2, 30, 5])
30