# Strings in Python – Complete Overview

In Python, strings are sequences of characters enclosed in either single quotes ('...') or double quotes ("...").

In [21]:
 # Creating the string

s1 = 'Hello'
s2 = "World"
s3 = '''This is a multi-line
string in Python.'''

print(s1,s2,s3)

Hello World This is a multi-line
string in Python.

In [12]:
# Accessing Characters

text = "Python"
print(text[0])     # P
print(text[-1])    # n (last character)

P
n

In [22]:
# String Slicing

text = "Python"
print(text[0:3])   # Pyt
print(text[:4])    # Pyth
print(text[2:])    # thon
print(text[::-1])  # Reverse: nohtyP

Pyt
Pyth
thon
nohtyP

In [23]:
# String Immutability

s = "Hello"
s[0] = 'h'  # ❌ This will raise an error

TypeError: 'str' object does not support item assignment

In [30]:
a = "hello"
b = a.replace("h","H")
print(b)

Hello

# String Builtin Methods
| Method          | Description                            | Example                          |
| --------------- | -------------------------------------- | -------------------------------- |
| `lower()`       | Converts to lowercase                  | `'HELLO'.lower()` → `'hello'`    |
| `upper()`       | Converts to uppercase                  | `'hello'.upper()` → `'HELLO'`    |
| `title()`       | Title cases the string                 | `'hello world'.title()`          |
| `strip()`       | Removes surrounding whitespace         | `' hello '.strip()` → `'hello'`  |
| `replace(a, b)` | Replace `a` with `b`                   | `'hello'.replace('l', 'x')`      |
| `split()`       | Splits string into list                | `'a,b,c'.split(',')`             |
| `join()`        | Joins elements of a list into a string | `'-'.join(['a', 'b'])` → `'a-b'` |
| `startswith()`  | Checks if starts with a value          | `'hello'.startswith('he')`       |
| `endswith()`    | Checks if ends with a value            | `'hello'.endswith('lo')`         |
| `find()`        | Finds index of substring               | `'hello'.find('l')` → `2`        |
| `count()`       | Counts occurrences of a substring      | `'banana'.count('a')` → `3`      |
| `isdigit()`     | Checks if all chars are digits         | `'123'.isdigit()` → `True`       |
| `isalpha()`     | Checks if all chars are alphabets      | `'abc'.isalpha()` → `True`       |

In [ ]:
# String Formatting

name = "Ahamed"
age = 25
print(f"My name is {name} and I am {age} years old.")  # f-string
print("My name is {} and I am {} years old.".format(name, age))

# Escape Characters

| Escape Code | Meaning         |
| ----------- | --------------- |
| `\n`        | New line        |
| `\t`        | Tab             |
| `\\`        | Backslash (`\`) |
| `\'`        | Single quote    |
| `\"`        | Double quote    |

In [34]:
print("Hello\"s World")  # New line

Hello"s World

# String Operations

In [35]:
# Concatenation
s1 = "Hello"
s2 = "World"
print(s1 + " " + s2)

# Repetition
print("ha" * 3)  # hahaha

# Membership test
print("a" in "banana")  # True

Hello World
hahaha
True

In [36]:
#  Unicode & Encoding

text = "வணக்கம்"
print(text.encode("utf-8"))  # Convert to bytes

b'\xe0\xae\xb5\xe0\xae\xa3\xe0\xae\x95\xe0\xaf\x8d\xe0\xae\x95\xe0\xae\xae\xe0\xaf\x8d'

# Collections Module – Advanced Collections

## 1. namedtuple() – Named Fields in Tuples
Use case: Access tuple elements using names instead of just indexes.

In [4]:
from collections import namedtuple

# Define a named tuple called 'Student'
Student = namedtuple('Student', ['name', 'age', 'grade'])

s1 = Student(name='Ahamed', age=21, grade='A')

print(s1.name)   # Ahamed
print(s1[1])     # 21 (also accessible by index)

Ahamed
21

## 2. deque – Double-Ended Queue
Use case: Fast append and pop from both sides (faster than list).

In [5]:
from collections import deque

dq = deque([1, 2, 3])
dq.append(4)        # [1, 2, 3, 4]
dq.appendleft(0)    # [0, 1, 2, 3, 4]

dq.pop()            # Removes 4
dq.popleft()        # Removes 0

print(dq)           # deque([1, 2, 3])

deque([1, 2, 3])

## 3. Counter – Count Frequencies
Use case: Count how many times each element appears in a list or string.

In [37]:
from collections import Counter

fruits = ['apple', 'banana', 'apple', 'cherry', 'banana', 'apple']
count = Counter(fruits)

print(count)             # Counter({'apple': 3, 'banana': 2, 'cherry': 1})
print(count['apple'])    # 3

Counter({'apple': 3, 'banana': 2, 'cherry': 1})
3

## 4. OrderedDict (Python < 3.7) – Maintains Order
Use case: Like a regular dict, but remembers insertion order (before Python 3.7 this was not guaranteed).

In [6]:
from collections import OrderedDict

od = OrderedDict()
od['one'] = 1
od['two'] = 2
od['three'] = 3

print(od)  # OrderedDict([('one', 1), ('two', 2), ('three', 3)])

OrderedDict([('one', 1), ('two', 2), ('three', 3)])

## 5. defaultdict – Default Values for Missing Keys
Use case: Avoid KeyError by setting a default type for values.

In [38]:
from collections import defaultdict

# Default value is int() → 0
dd = defaultdict(int)

# dd['apple'] += 1
# dd['banana'] += 1

print()  # defaultdict(<class 'int'>, {'apple': 1, 'banana': 1})

0

## 6. ChainMap – Combine Multiple Dictionaries
Use case: Search multiple dictionaries as a single view.

In [7]:
from collections import ChainMap

dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

combined = ChainMap(dict1, dict2)

print(combined['a'])  # 1 (from dict1)
print(combined['b'])  # 2 (from dict1, takes first match)
print(combined['c'])  # 4 (from dict2)

1
2
4